/* 폰트 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

@font-face {
	font-family: 'TTHakgyoansimYeohaengR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimYeohaengR.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

m

.lottemartdream * {
	font-family: 'LotteMartDream', sans-serif;
}

html>body {
	font-family: 'LotteMartDream', sans-serif;
}

/* 라이브러리 */

/* 커스텀 */
header>div>ul>li {
	margin-right: 30px;
}

/* .login-box>tbody>tr>td>input { */
/* 	padding-left: 10px; */
/* } */

/* .login-box>tbody>tr:nth-child(3)>td>input { */
/* 	padding-left: 0; */
/* } */

/* .join-box>tbody>tr:nth-child(7)>td>input { */
/* 	padding-left: 0; */
/* } */

/* .modify-box>tbody>tr:nth-child(5)>td>input, .modify-box>tbody>tr:nth-child(6)>td>input, */
/* 	.modify-box>tbody>tr:nth-child(7)>td>input { */
/* } */
.table-box-1 th, .table-box-1 td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

/*네비게이션 2차메뉴 */
header>div>ul>li>ul {
	display: none;
	position: absolute;
	background-color: white;
}

header>div>ul>li:hover>ul {
	display: block;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* 상단바 */
.navbar {
	background-color: black; /* 상단 바 배경색 */
	height: 100px;
	display: flex;
	justify-content: space-between;
	/* This will push the dropdown menu to the right */
	align-items: center;
}

.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: #ddd; /* 호버시 배경색 */
	color: black; /* 호버시 글자색 */
}

.navbar1 {
	background-color: black; /* 상단 바 배경색 */
	overflow: hidden;
	display: flex; /* Flexbox를 사용하여 가운데 정렬 */
	justify-content: center;
	align-items: center; /* 수직 가운데 정렬 */
	margin-top: 3px;
}

.navbar1 a {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

.navbar1 a:hover {
	background-color: #ddd; /* 호버시 배경색 */
	color: black; /* 호버시 글자색 */
}

.search-container {
	margin: auto; /* 수평 가운데 정렬 */
}

.search-container input[type=text] {
	padding: 6px;
	font-size: 14px;
	border: none;
}

.search-container button {
	padding: 5px 10px;
	margin-left: 5px;
	background: #ddd;
	font-size: 14px;
	border: none;
	cursor: pointer;
}

.algorithm {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.algorithm>div:first-child {
	text-align: left;
	font-size: 24px;
}

.
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	padding: 0;
}

.good {
	max-width: 800px;
	margin: 20px auto;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

/* .good.bord {
	flex: 4; 보더를 넓게 만듭니다.
	margin-top: 50px;
	margin-left: 250px;
}
게시글 스타일링
.post-container {
	display: flex;
	justify-content: left; 가운데 정렬
	align-items: left; 수직 가운데 정렬
	height: 600px; 높이를 조정합니다.
	border: 2px solid #ccc; 테두리를 추가하고 색상을 변경합니다.
	border-radius: 10px; 테두리의 둥근 모서리를 추가합니다.
	padding-left: 20px; 왼쪽 여백을 추가합니다.
}

.post {
	width: 45%; 너비를 조정합니다.
	padding: 15px;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer; 클릭 가능한 요소로 설정합니다.
	transition: box-shadow 0.3s ease; box-shadow 전환 효과를 추가합니다.
}

.post:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	호버 상태에서 그림자를 더 크게 표시합니다.
}

.post h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.post p {
	margin: 8px 0;
}

.good.bord h1 {
	font-size: 24px; 미니 보드의 제목 폰트 크기를 24px로 설정합니다.
}

.post .author {
	font-style: italic;
	color: #666;
}

.content-wrapper {
	display: flex;
	justify-content: space-between; 3열로 배치합니다.
}
 */
/****메뉴**/
.dropdown {
	position: relative;
	display: inline-block;
	margin-right: 50px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
	left: -50px;
}

.dropdown-content a {
	color: black;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
	font-size: 14px;
	white-space: nowrap;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}
/* 세로 메뉴를 위한 추가 스타일 */
.dropdown-content {
	width: 160px; /* 세로 메뉴의 너비 */
}

.dropdown-content a {
	width: 100%; /* 링크 요소의 너비 */
	margin: 0; /* 링크 요소 간의 상하 여백 제거 */
	border-bottom: 1px solid #ddd; /* 링크 요소 사이에 구분선 추가 */
}

.dropdown-content a:last-child {
	border-bottom: none; /* 마지막 링크 요소에는 구분선을 표시하지 않음 */
}

.dropbtn img {
	width: 50px; /* 이미지의 너비를 조정합니다. */
	height: auto; /* 이미지의 높이를 자동으로 조정합니다. */
}

*로그인

section {
	display: block;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

input:focus, textarea:focus {
	outline: none;
}

label, select, button, input[type="submit"], input[type="radio"], input[type="checkbox"] 
input[type="button"] {
	cursor: pointer;
}

a, a:visited, a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

::selection {
	background: #ed327b;
	color: #fff;
}

::-moz-selection {
	background: #ed327b;
	color: #fff;
}

* {
	font-size: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial;
}

h5 {
	text-align: center;
	margin-top: 5px;
	color: rgba(0, 0, 0, .3);
}

h5>a {
	color: black;
	text-decoration: underline;
}

h5>a:hover {
	text-decoration: none;
}

.loginform {
	background: #fff;
	border-radius: 6px;
	padding: 20px;
	padding-top: 30px;
	width: 300px;
	margin: 200px auto;
	 margin: 70px auto 50px auto; /* 수정된 마진 값 */
	box-shadow: 15px 15px 0px rgba(0, 0, 0, .1);
}

h1 {
	text-align: center;
	font-size: 1.4em;
	font-weight: 700;
	color: #ccc;
	margin-bottom: 24px;
}

span {
	font-weight: 200;
}

input {
	width: 100%;
	background: #f5f5f5;
	border: 0;
	padding: 20px;
	border-radius: 6px;
	margin-bottom: 10px;
	border: 1px solid #eee;
}

.btn {
	position: relative;
	width: 100%;
	padding: 20px;
	border-radius: 6px;
	border: 0;
	background: #f26964;
	font-size: 1.2em;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
	box-shadow: 0px 3px 0px #c1524e;
}

.btn:active {
	top: 3px;
	box-shadow: none;
}

h6 {
	text-align: center;
	padding: 20px;
	padding-top: 35px;
	color: #777;
	cursor: pointer;
}

.social {
	display: none;
}

.fb {
	margin-top: 15px;
	background: #80ff80 !important;
	box-shadow: 0px 3px 0px #2c416e;
}

.tw {
	background: #ffff80 !important;
	box-shadow: 0px 3px 0px #008dc3;
}

.google {
	background: #0080ff !important;
	box-shadow: 0px 3px 0px #b93f31;
}


/*****join****/
.joinform {
	background: #fff;
	border-radius: 6px;
	padding: 20px;
	padding-top: 30px;
	width: 300px;
	margin: 70px auto 50px; /* 상단과 하단의 마진을 조정합니다. */
	box-shadow: 15px 15px 0px rgba(0, 0, 0, .1);
}

.joinform input {
	width: 100%; /* 입력 칸의 너비를 조정합니다. */
	margin-bottom: 10px; /* 입력 칸 간의 간격을 만듭니다. */
	padding: 10px; /* 입력 칸 내부의 여백을 조정합니다. */
	border-radius: 4px; /* 입력 칸의 테두리를 둥글게 만듭니다. */
	border: 1px solid #ccc; /* 입력 칸의 테두리를 설정합니다. */
}

.joinform .btn {
	width: 100%; /* 버튼의 너비를 입력 칸과 동일하게 설정합니다. */
	padding: 10px; /* 버튼 내부의 여백을 조정합니다. */
	border-radius: 4px; /* 버튼의 테두리를 둥글게 만듭니다. */
	border: none; /* 버튼의 테두리를 제거합니다. */
	background-color: #f26964; /* 버튼의 배경색을 설정합니다. */
	color: #fff; /* 버튼의 텍스트 색상을 설정합니다. */
	font-size: 1.2em; /* 버튼의 글꼴 크기를 설정합니다. */
}
/*마이페이지*/
/* .mupageba {
	position: relative;
	height: 100vh; 화면 전체 높이로 설정
	margin-top:-50px;
}

.mupageba .mupageba1 {
	position: absolute;
	width: 130px;
	height: 100%;
	background-color: black;
}

.mupageba .mupageba2 {
	position: absolute;
	left: 130px; 첫 번째 바의 너비와 동일한 값으로 설정
	width: 350px;
	height: 100%;
	background-color: #b0b0ff;
}
 .mupageba .mupageba3 {
  position: absolute;
  첫 번째 바의 너비와 동일한 값으로 설정
  width: 20000px;
  height: 500px;
  margin-top:350px;
  background-color: #b0b0ff;
} 
.mupageba2 a {
	color: white;
	font-size: 24px;
} */

.information {
	position: absolute;
	top: 400px; /* 원하는 위치로 조절하세요 */
	left: 1000px; /* 원하는 위치로 조절하세요 *
}


.info-item {
    /* 각 문단의 위쪽 여백을 조정합니다. */
	line-height: 4; /* 간격 조정을 위해 line-height 값을 조절합니다. */
}


/****메인 포스터 슬라이드***/


.mainbody {
	position: relative;
	height: 100vh;
	font-family: 'Cinzel', serif;
	font-size: 16px;
}

/* =======================
#Slideshow
======================= */
.container {
    max-width: 1400px; /* 적절한 너비로 설정하세요 */
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 마진을 auto로 설정합니다 */
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
}

/* #Slider */

.mainback{
	background-color:black ;
	height: 700px;
}
.slider {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slides {
	width: calc(100% * 5);
	height: 100%;
	position: relative;
	left: -100%;
}

.slides__img {
	width: calc(100%/ 5); height : 700px;
	float: left;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	height: 700px;
}

.slides__img__filter {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0.3;
}

/* #Captions */
.slide__caption {
	width: 100%;
	text-align: center;
	color: #fff;
	position: absolute;
	bottom: 5%;
	z-index: 20;
	opacity: 0
}

.slide__caption__title {
	font-size: 3em;
	line-height: 1.05em;
}

.slide__caption__subtitle {
	font-size: 2.25em;
	line-height: 1.25em;
}

.slide__caption__text {
	font-size: 1.75em;
	line-height: 1.25em;
}

/* #Controls */
.control {
	cursor: pointer;
	position: absolute;
	z-index: 20;
	top: calc(50% - 50px);
	padding: 15px;
	color: #fff;
	font-size: 3em;
	opacity: 0.5;
}

.control:hover {
	background-color: #fff;
	opacity: 0.5;
	color: #000;
	color: rgba(0, 0, 0, 0.5);
}

#prev {
	left: 0;
	border-radius: 0 5px 5px 0;
}

#next {
	right: 0;
	border-radius: 5px 0 0 5px;
}

/* #Indicators */
.dots {
	width: 100%;
	position: absolute;
	z-index: 20;
	top: 75%;
	text-align: center;
}

.dots__single {
	cursor: pointer;
	display: inline-block;
	width: 20px;
	height: 6px;
	background-color: #fff;
	opacity: 0.5;
	margin: 0 5px;
}

.dots__single:hover, .dots__current {
	opacity: 1;
}

/* ########################
Media Queries
######################## */

/* ------------------------
#Desktop, iPad Pro
------------------------ */
@media only screen and (min-width: 1024px) and (max-width: 1170px) {
}

/* ------------------------
#Display 12", iPad Pro portrait, iPad landscape
------------------------ */
@media only screen and (max-width: 1024px) {
}

/* ------------------------
#Medium Devices, Desktops
------------------------ */
@media only screen and (max-width: 992px) {
	/* #Captions */
	.slide__caption__title {
		font-size: 2.5em;
		line-height: 1.125em;
	}
	.slide__caption__subtitle {
		font-size: 2em;
	}

	/* #Controls */
	.prev, .next {
		font-size: 2.5em;
	}
}C 

/* ------------------------
#Display 5.5", iPad portrait, iPhone 6, 6s, 7, 8 portrait and landscape, iPhone 5s landscape
------------------------ */
@media only screen and (max-width: 768px) {
	/* #Captions */
	.slide__caption__subtitle {
		font-size: 1.625em;
	}
	.slide__caption__text {
		font-size: 1.5em;
	}
}

/* ------------------------
#Extra Small Devices, Phones
------------------------ */
@media only screen and (max-width: 480px) {
	/* #Captions */
	.slide__caption__title {
		font-size: 2em;
		line-height: 1.25em;
	}
	.slide__caption__subtitle {
		line-height: 1.15384615em;
	}
	.slide__caption__text {
		font-size: 1.375em;
		line-height: 1.13636364em;
	}

	/* #Controls */
	.prev, .next {
		font-size: 2em;
	}
}

/* ------------------------
#Display 4", iPhone 5s portrait
------------------------ */
@media only screen and (max-width: 320px) {
	/* #Controls */
	.prev, .next {
		font-size: 1.5em;
	}
}

/* =======================
#Hacks & Fixes
======================= */
/* Clearfix Hack*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/* IE6 */
* html .clearfix {
	zoom: 1;
}
/* IE7 */
*:first-child+html .clearfix {
	zoom: 1;
}

/* Box Size Hack */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/***헤드 로고****/
.logoimg {
	width: 100px; /* 원하는 너비로 설정 */
	height: 100px; /* 높이는 자동으로 조정됩니다 */
	background-color: black;
}
/***로그인 백그라운드**/
.login-container {
    position: relative; /* 자식 요소의 위치를 상대적으로 설정하기 위해 부모 요소에 상대적 위치 지정 */
}

.loginimg {
    background-image: url("https://img3.wallspic.com/crops/0/2/3/1/81320/81320-gear-pocket-alarm_clocks-clock-antique-1920x1124.jpg");
    background-size: cover; /* 배경 이미지를 요소에 맞게 확장 */
    height: 100vh; /* 전체 뷰포트 높이 */
}

.login-form-container {
    position: absolute; /* 절대 위치 설정 */
    top: 40%; /* 상단 위치 50% */
    left: 50%; /* 좌측 위치 50% */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    background-color: rgba(255, 255, 255, 0.8); /* 폼을 감싸는 배경의 투명도 설정 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    max-width: 400px; /* 최대 너비 설정 */
    width: 90%; /* 폼의 너비 설정 */
}

.join-container {
    position: relative; /* 자식 요소의 위치를 상대적으로 설정하기 위해 부모 요소에 상대적 위치 지정 */
}

.joinimg {
    background-image: url("https://img3.wallspic.com/crops/0/2/3/1/81320/81320-gear-pocket-alarm_clocks-clock-antique-1920x1124.jpg");
    background-size: cover; /* 배경 이미지를 요소에 맞게 확장 */
    height: 100vh; /* 전체 뷰포트 높이 */
}

.join-form-container {
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 상단 위치 50% */
    left: 50%; /* 좌측 위치 50% */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    background-color: rgba(255, 255, 255, 0.8); /* 폼을 감싸는 배경의 투명도 설정 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    max-width: 400px; /* 최대 너비 설정 */
    width: 90%; /* 폼의 너비 설정 */
}
/*알고리즘*/
.wrapper h3{
	margin-bottom:20px;
	font-size:20px;
}
 .wrapper {
      width: 100%;
      padding-top: 70px;
      text-align: center;
    }

    h2 {
      font-family: sans-serif;
      color: #fff;
    }

    .carousel {
      width: 80%; /* 슬라이드 영역의 너비 설정 */
      margin: 0 auto; /* 가운데 정렬 */
    }

    .slick-slide {
      margin: 10px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev,
    .slick-next {
      background: #000;
      border-radius: 15px;
      border-color: transparent;
    }

    .card {
      width: 300px; /* 카드의 고정된 너비 */
      margin: 10px; /* 카드 사이의 간격 */
    }

    .card-body {
      background: #fff;
      width: 100%;
      vertical-align: top;
    }

    .card-content {
      text-align: left;
      color: #333;
      padding: 15px;
    }

    .card-header img {
      width: 100%;
      height: auto; /* 자동으로 높이를 조정하여 가로세로 비율을 유지합니다. */
    }
    
   /* 게시판 */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.board-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
     margin-left:250px;
     margin-right:250px;
}

.board {
    background-color: #fff;
    border-radius: 10px;
    border: 10px solid #ddd; /* 테두리 두껍게 */
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
   
}
.board h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.post-list {
    list-style-type: none;
    padding: 0;
}

.post {
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post:hover {
    background-color: #e9e9e9;
}

.post-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.post-content {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.post-meta {
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}
 